* {
  margin: 0;
  padding: 0;
}

.main-page-element, header, #menu, #content, footer {
  border: 2px solid black;
}

.without-top-bottom-borders, #menu, #content {
  border-top: 0;
  border-bottom: 0;
}

.standard-padding, header .header-image-wrapper, header h1, #menu .menu-elem, #content #content-part1 .content-part1-elem, #content #content-part2 .content-part2-elem, footer #footer-part2 .footer-part2-elem {
  padding: 10px;
}

.standard-margin, #content #content-part1 .content-part1-elem {
  margin: 10px;
}

.col-4, footer #footer-part1 .footer-part1-elem {
  width: 33.33%;
}

.text-container {
  background: rgba(127, 127, 255, 0.35);
}

.with-ribbon {
  position: relative;
  overflow: hidden;
}
.with-ribbon:after {
  content: 'Ribbon';
  display: block;
  width: 150px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  background: #f00;
  color: #fff;
  text-align: center;
  line-height: 20px;
  right: -50px;
  top: 20px;
}

body {
  background: url(page-bg.png);
}

header {
  overflow: hidden;
}
header .header-image-wrapper {
  float: left;
  width: 100px;
  height: 100px;
}
header .header-image-wrapper img {
  width: 100%;
}
header h1 {
  padding-left: 125px;
  height: 100px;
  line-height: 100px;
}

#menu {
  height: 500px;
  width: 200px;
  float: left;
  border-right: 0;
}
#menu .menu-elem {
  text-align: left;
}

#content {
  height: 500px;
  overflow: auto;
}
#content #content-part1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#content #content-part1 .content-part1-elem {
  width: 200px;
  min-width: 200px;
  text-align: center;
}
#content #content-part2 {
  overflow: hidden;
  margin: 0 auto;
}
#content #content-part2 .content-part2-elem {
  display: inline-block;
  width: 27.3%;
  margin: 5px 1.5%;
  padding: 5px 1.5%;
  vertical-align: middle;
}

footer #footer-part1 {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
footer #footer-part1 .footer-part1-elem {
  float: left;
}
footer #footer-part2 {
  text-align: center;
  vertical-align: middle;
  border-top: 2px solid black;
}
